body{
    font-family: 'Ubuntu', sans-serif;

}
.btn{
    background-color: #5528FF;
    color: #fff;
    border: none;
}
.header{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
    padding-top: 53px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    /* box-sizing: border-box; */
}

.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    font-size: 14px;
    color: #202020;
}
.nav li{
    margin-left: 15px;
}
.nav li a{
    text-decoration: none;
}
.nav_btn{
     border-radius: 5px;
     padding: 5px 10px;
     font-weight: 700;
}
.logo{
    display: flex;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
}
.logo_img{
    background-image: url(../images/logo.svg);
    width: 58px;
    height: 59px;
    display: block;
    margin-right: 20px;
}
.logo_text{
    font-size: 24;
    color: #202020;
}
.page{
    padding-top: 40px;
    padding-bottom: 40px;
}
.page-top{
    border: 1px solid #c2c2c2;
}
.page h2{
    position: absolute;
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
    background-color: #fff;
    margin-top: -59px;
    color: #C2C2C2;
}
.wrap{
    max-width: 1186px;
    margin: 0 auto;
    padding-bottom:30px;
    box-sizing: border-box;
}
.title-main{
    font-size: 57px;
    color: #202020;
    font-weight: 700;
}
.title-text{
    font-size: 32px;
    color: #4F4F4F;
    line-height: 160.9%;
   
}
.btn-wrap{
    font-size: 24;
    padding: 5px 30px;
    border-radius: 10px;
}
.service{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.serivce h3{
    font-size: 28px;
    color: #000;  
}
.serivce p{
    font-size: 14px;
    color: #B2B2B2;
    line-height: 1.5;
}
.services-item{
    display: flex;
    justify-content: start;
    align-items: center;
}
.services_img{
    flex-basis: 120px;
    text-align: center;
}
.services_text{
    flex-basis: calc(100%-120px);
}
.clients{
    display: grid;
    grid-template: 200px / 25% 25% 25% 25%;
}
